<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.BgSmsDetailMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.BgSmsDetail" >
    <constructor >
      <idArg column="DETAILE_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="SMS_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="RECEIVER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="INFORMATION_STATE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DETAILE_ID, SMS_ID, RECEIVER_ID, INFORMATION_STATE, COMPANY_ID, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.BgSmsDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from BG_SMS_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BG_SMS_DETAIL
    where DETAILE_ID = #{detaileId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BG_SMS_DETAIL
    where DETAILE_ID = #{detaileId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.BgSmsDetailExample" >
    delete from BG_SMS_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.BgSmsDetail" >
    insert into BG_SMS_DETAIL (DETAILE_ID, SMS_ID, RECEIVER_ID, 
      INFORMATION_STATE, COMPANY_ID, LAST_MODIFY_DATE
      )
    values (#{detaileId,jdbcType=DECIMAL}, #{smsId,jdbcType=DECIMAL}, #{receiverId,jdbcType=DECIMAL}, 
      #{informationState,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL}, #{lastModifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.BgSmsDetail" >
    insert into BG_SMS_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detaileId != null" >
        DETAILE_ID,
      </if>
      <if test="smsId != null" >
        SMS_ID,
      </if>
      <if test="receiverId != null" >
        RECEIVER_ID,
      </if>
      <if test="informationState != null" >
        INFORMATION_STATE,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detaileId != null" >
        #{detaileId,jdbcType=DECIMAL},
      </if>
      <if test="smsId != null" >
        #{smsId,jdbcType=DECIMAL},
      </if>
      <if test="receiverId != null" >
        #{receiverId,jdbcType=DECIMAL},
      </if>
      <if test="informationState != null" >
        #{informationState,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.BgSmsDetailExample" resultType="java.lang.Integer" >
    select count(*) from BG_SMS_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BG_SMS_DETAIL
    <set >
      <if test="record.detaileId != null" >
        DETAILE_ID = #{record.detaileId,jdbcType=DECIMAL},
      </if>
      <if test="record.smsId != null" >
        SMS_ID = #{record.smsId,jdbcType=DECIMAL},
      </if>
      <if test="record.receiverId != null" >
        RECEIVER_ID = #{record.receiverId,jdbcType=DECIMAL},
      </if>
      <if test="record.informationState != null" >
        INFORMATION_STATE = #{record.informationState,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BG_SMS_DETAIL
    set DETAILE_ID = #{record.detaileId,jdbcType=DECIMAL},
      SMS_ID = #{record.smsId,jdbcType=DECIMAL},
      RECEIVER_ID = #{record.receiverId,jdbcType=DECIMAL},
      INFORMATION_STATE = #{record.informationState,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.BgSmsDetail" >
    update BG_SMS_DETAIL
    <set >
      <if test="smsId != null" >
        SMS_ID = #{smsId,jdbcType=DECIMAL},
      </if>
      <if test="receiverId != null" >
        RECEIVER_ID = #{receiverId,jdbcType=DECIMAL},
      </if>
      <if test="informationState != null" >
        INFORMATION_STATE = #{informationState,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DETAILE_ID = #{detaileId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.BgSmsDetail" >
    update BG_SMS_DETAIL
    set SMS_ID = #{smsId,jdbcType=DECIMAL},
      RECEIVER_ID = #{receiverId,jdbcType=DECIMAL},
      INFORMATION_STATE = #{informationState,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where DETAILE_ID = #{detaileId,jdbcType=DECIMAL}
  </update>
</mapper>