<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.BgSmsMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.BgSms" >
    <constructor >
      <idArg column="SMS_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="SMS_TITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SMS_CONTENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="SMS_SENDER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SMS_ID, SMS_TITLE, SMS_CONTENT, SMS_SENDER, COMPANY_ID, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.BgSmsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from BG_SMS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from BG_SMS
    where SMS_ID = #{smsId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from BG_SMS
    where SMS_ID = #{smsId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.BgSmsExample" >
    delete from BG_SMS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.BgSms" >
    insert into BG_SMS (SMS_ID, SMS_TITLE, SMS_CONTENT, 
      SMS_SENDER, COMPANY_ID, LAST_MODIFY_DATE
      )
    values (#{smsId,jdbcType=DECIMAL}, #{smsTitle,jdbcType=VARCHAR}, #{smsContent,jdbcType=VARCHAR}, 
      #{smsSender,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL}, #{lastModifyDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.BgSms" >
    insert into BG_SMS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smsId != null" >
        SMS_ID,
      </if>
      <if test="smsTitle != null" >
        SMS_TITLE,
      </if>
      <if test="smsContent != null" >
        SMS_CONTENT,
      </if>
      <if test="smsSender != null" >
        SMS_SENDER,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smsId != null" >
        #{smsId,jdbcType=DECIMAL},
      </if>
      <if test="smsTitle != null" >
        #{smsTitle,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null" >
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="smsSender != null" >
        #{smsSender,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.BgSmsExample" resultType="java.lang.Integer" >
    select count(*) from BG_SMS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update BG_SMS
    <set >
      <if test="record.smsId != null" >
        SMS_ID = #{record.smsId,jdbcType=DECIMAL},
      </if>
      <if test="record.smsTitle != null" >
        SMS_TITLE = #{record.smsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.smsContent != null" >
        SMS_CONTENT = #{record.smsContent,jdbcType=VARCHAR},
      </if>
      <if test="record.smsSender != null" >
        SMS_SENDER = #{record.smsSender,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update BG_SMS
    set SMS_ID = #{record.smsId,jdbcType=DECIMAL},
      SMS_TITLE = #{record.smsTitle,jdbcType=VARCHAR},
      SMS_CONTENT = #{record.smsContent,jdbcType=VARCHAR},
      SMS_SENDER = #{record.smsSender,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.BgSms" >
    update BG_SMS
    <set >
      <if test="smsTitle != null" >
        SMS_TITLE = #{smsTitle,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null" >
        SMS_CONTENT = #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="smsSender != null" >
        SMS_SENDER = #{smsSender,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SMS_ID = #{smsId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.BgSms" >
    update BG_SMS
    set SMS_TITLE = #{smsTitle,jdbcType=VARCHAR},
      SMS_CONTENT = #{smsContent,jdbcType=VARCHAR},
      SMS_SENDER = #{smsSender,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where SMS_ID = #{smsId,jdbcType=DECIMAL}
  </update>
  
  
  
  <!-- 一对一关联查询 -->
										<!--如果列名和属性名一致，通过autoMapping自动映射-->
	<resultMap type="com.sc.entity.BgSms" id="BgSmsmap" ><!-- autoMapping="true" -->
		<!--              列名                                              属性名             -->
		<result column="SMS_ID" property="smsId"/>
		<result column="SMS_TITLE" property="smsTitle"/>
		<result column="SMS_CONTENT" property="smsContent"/>
		<result column="SMS_SENDER" property="smsSender"/>
		<result column="COMPANY_ID" property="companyId"/>
		<result column="LAST_MODIFY_DATE" property="lastModifyDate"/>
		<!-- 一对一配置 -->
		<association property="bgSmsDetail" javaType="com.sc.entity.BgSmsDetail">
			<id column="DETAILE_ID" property="detaileId"/>
			<result column="SMS_ID" property="smsId"/>
			<result column="RECEIVER_ID" property="receiverId"/>
			<result column="INFORMATION_STATE" property="informationState"/>
			<result column="COMPANY_ID" property="companyId"/>
			<result column="LAST_MODIFY_DATE" property="lastModifyDate"/>
		</association>
	</resultMap>
	
	<!-- 关联查询 -->
	<select id="gselect" resultMap="BgSmsmap">
		SELECT S.*,D.*
		FROM BG_SMS S
		LEFT JOIN BG_SMS_DETAIL D
		ON S.SMS_ID=D.SMS_ID
	</select>
  
  
  	<!-- 获取自增id -->
  	<select id="zzId"   resultType="java.lang.Long">
    select SEQ_BG_SMS_SMS_ID.currval from DUAL
  	</select>
  
  
  
  
  
  
</mapper>