<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.CgRepGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.CgRepGoods" >
    <constructor >
      <idArg column="CG_REP_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="CP_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="JH_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="ZT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="OPERATER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="BZ_XX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="LAST_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CG_REP_ID, CP_ID, JH_DATE, ZT, OPERATER_ID, BZ_XX, COMPANY_ID, LAST_TIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.CgRepGoodsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CG_REP_GOODS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CG_REP_GOODS
    where CG_REP_ID = #{cgRepId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CG_REP_GOODS
    where CG_REP_ID = #{cgRepId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.CgRepGoodsExample" >
    delete from CG_REP_GOODS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.CgRepGoods" >
    insert into CG_REP_GOODS (CG_REP_ID, CP_ID, JH_DATE, 
      ZT, OPERATER_ID, BZ_XX, 
      COMPANY_ID, LAST_TIME)
    values (#{cgRepId,jdbcType=DECIMAL}, #{cpId,jdbcType=DECIMAL}, #{jhDate,jdbcType=TIMESTAMP}, 
      #{zt,jdbcType=VARCHAR}, #{operaterId,jdbcType=DECIMAL}, #{bzXx,jdbcType=VARCHAR}, 
      #{companyId,jdbcType=DECIMAL}, #{lastTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.CgRepGoods" >
    insert into CG_REP_GOODS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cgRepId != null" >
        CG_REP_ID,
      </if>
      <if test="cpId != null" >
        CP_ID,
      </if>
      <if test="jhDate != null" >
        JH_DATE,
      </if>
      <if test="zt != null" >
        ZT,
      </if>
      <if test="operaterId != null" >
        OPERATER_ID,
      </if>
      <if test="bzXx != null" >
        BZ_XX,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
      <if test="lastTime != null" >
        LAST_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cgRepId != null" >
        #{cgRepId,jdbcType=DECIMAL},
      </if>
      <if test="cpId != null" >
        #{cpId,jdbcType=DECIMAL},
      </if>
      <if test="jhDate != null" >
        #{jhDate,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        #{zt,jdbcType=VARCHAR},
      </if>
      <if test="operaterId != null" >
        #{operaterId,jdbcType=DECIMAL},
      </if>
      <if test="bzXx != null" >
        #{bzXx,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.CgRepGoodsExample" resultType="java.lang.Integer" >
    select count(*) from CG_REP_GOODS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CG_REP_GOODS
    <set >
      <if test="record.cgRepId != null" >
        CG_REP_ID = #{record.cgRepId,jdbcType=DECIMAL},
      </if>
      <if test="record.cpId != null" >
        CP_ID = #{record.cpId,jdbcType=DECIMAL},
      </if>
      <if test="record.jhDate != null" >
        JH_DATE = #{record.jhDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.zt != null" >
        ZT = #{record.zt,jdbcType=VARCHAR},
      </if>
      <if test="record.operaterId != null" >
        OPERATER_ID = #{record.operaterId,jdbcType=DECIMAL},
      </if>
      <if test="record.bzXx != null" >
        BZ_XX = #{record.bzXx,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.lastTime != null" >
        LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CG_REP_GOODS
    set CG_REP_ID = #{record.cgRepId,jdbcType=DECIMAL},
      CP_ID = #{record.cpId,jdbcType=DECIMAL},
      JH_DATE = #{record.jhDate,jdbcType=TIMESTAMP},
      ZT = #{record.zt,jdbcType=VARCHAR},
      OPERATER_ID = #{record.operaterId,jdbcType=DECIMAL},
      BZ_XX = #{record.bzXx,jdbcType=VARCHAR},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      LAST_TIME = #{record.lastTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.CgRepGoods" >
    update CG_REP_GOODS
    <set >
      <if test="cpId != null" >
        CP_ID = #{cpId,jdbcType=DECIMAL},
      </if>
      <if test="jhDate != null" >
        JH_DATE = #{jhDate,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null" >
        ZT = #{zt,jdbcType=VARCHAR},
      </if>
      <if test="operaterId != null" >
        OPERATER_ID = #{operaterId,jdbcType=DECIMAL},
      </if>
      <if test="bzXx != null" >
        BZ_XX = #{bzXx,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="lastTime != null" >
        LAST_TIME = #{lastTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where CG_REP_ID = #{cgRepId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.CgRepGoods" >
    update CG_REP_GOODS
    set CP_ID = #{cpId,jdbcType=DECIMAL},
      JH_DATE = #{jhDate,jdbcType=TIMESTAMP},
      ZT = #{zt,jdbcType=VARCHAR},
      OPERATER_ID = #{operaterId,jdbcType=DECIMAL},
      BZ_XX = #{bzXx,jdbcType=VARCHAR},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      LAST_TIME = #{lastTime,jdbcType=TIMESTAMP}
    where CG_REP_ID = #{cgRepId,jdbcType=DECIMAL}
  </update>
</mapper>