<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.XtJournalMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.XtJournal" >
    <constructor >
      <idArg column="JOURNAL_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="USER_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="IP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="QX" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="FWDATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="COMPANY_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    JOURNAL_ID, USER_ID, IP, QX, FWDATE, COMPANY_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.XtJournalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from XT_JOURNAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from XT_JOURNAL
    where JOURNAL_ID = #{journalId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from XT_JOURNAL
    where JOURNAL_ID = #{journalId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.XtJournalExample" >
    delete from XT_JOURNAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.XtJournal" >
    insert into XT_JOURNAL (JOURNAL_ID, USER_ID, IP, 
      QX, FWDATE, COMPANY_ID
      )
    values (#{journalId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{ip,jdbcType=VARCHAR}, 
      #{qx,jdbcType=VARCHAR}, #{fwdate,jdbcType=TIMESTAMP}, #{companyId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.XtJournal" >
    insert into XT_JOURNAL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="journalId != null" >
        JOURNAL_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="qx != null" >
        QX,
      </if>
      <if test="fwdate != null" >
        FWDATE,
      </if>
      <if test="companyId != null" >
        COMPANY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="journalId != null" >
        #{journalId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="qx != null" >
        #{qx,jdbcType=VARCHAR},
      </if>
      <if test="fwdate != null" >
        #{fwdate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.XtJournalExample" resultType="java.lang.Integer" >
    select count(*) from XT_JOURNAL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update XT_JOURNAL
    <set >
      <if test="record.journalId != null" >
        JOURNAL_ID = #{record.journalId,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.qx != null" >
        QX = #{record.qx,jdbcType=VARCHAR},
      </if>
      <if test="record.fwdate != null" >
        FWDATE = #{record.fwdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.companyId != null" >
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update XT_JOURNAL
    set JOURNAL_ID = #{record.journalId,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=DECIMAL},
      IP = #{record.ip,jdbcType=VARCHAR},
      QX = #{record.qx,jdbcType=VARCHAR},
      FWDATE = #{record.fwdate,jdbcType=TIMESTAMP},
      COMPANY_ID = #{record.companyId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.XtJournal" >
    update XT_JOURNAL
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="qx != null" >
        QX = #{qx,jdbcType=VARCHAR},
      </if>
      <if test="fwdate != null" >
        FWDATE = #{fwdate,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null" >
        COMPANY_ID = #{companyId,jdbcType=DECIMAL},
      </if>
    </set>
    where JOURNAL_ID = #{journalId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.XtJournal" >
    update XT_JOURNAL
    set USER_ID = #{userId,jdbcType=DECIMAL},
      IP = #{ip,jdbcType=VARCHAR},
      QX = #{qx,jdbcType=VARCHAR},
      FWDATE = #{fwdate,jdbcType=TIMESTAMP},
      COMPANY_ID = #{companyId,jdbcType=DECIMAL}
    where JOURNAL_ID = #{journalId,jdbcType=DECIMAL}
  </update>
</mapper>