<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sc.mapper.XtPermissionSubfieldMapper" >
  <resultMap id="BaseResultMap" type="com.sc.entity.XtPermissionSubfield" >
    <constructor >
      <idArg column="QX_FL_ID" jdbcType="DECIMAL" javaType="java.lang.Long" />
      <arg column="FL_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="BZ" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="LAST_MODIFY_DATE" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    QX_FL_ID, FL_NAME, BZ, LAST_MODIFY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sc.entity.XtPermissionSubfieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from XT_PERMISSION_SUBFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from XT_PERMISSION_SUBFIELD
    where QX_FL_ID = #{qxFlId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from XT_PERMISSION_SUBFIELD
    where QX_FL_ID = #{qxFlId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.sc.entity.XtPermissionSubfieldExample" >
    delete from XT_PERMISSION_SUBFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sc.entity.XtPermissionSubfield" >
    insert into XT_PERMISSION_SUBFIELD (QX_FL_ID, FL_NAME, BZ, 
      LAST_MODIFY_DATE)
    values (#{qxFlId,jdbcType=DECIMAL}, #{flName,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, 
      #{lastModifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sc.entity.XtPermissionSubfield" >
    insert into XT_PERMISSION_SUBFIELD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qxFlId != null" >
        QX_FL_ID,
      </if>
      <if test="flName != null" >
        FL_NAME,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qxFlId != null" >
        #{qxFlId,jdbcType=DECIMAL},
      </if>
      <if test="flName != null" >
        #{flName,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sc.entity.XtPermissionSubfieldExample" resultType="java.lang.Integer" >
    select count(*) from XT_PERMISSION_SUBFIELD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update XT_PERMISSION_SUBFIELD
    <set >
      <if test="record.qxFlId != null" >
        QX_FL_ID = #{record.qxFlId,jdbcType=DECIMAL},
      </if>
      <if test="record.flName != null" >
        FL_NAME = #{record.flName,jdbcType=VARCHAR},
      </if>
      <if test="record.bz != null" >
        BZ = #{record.bz,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyDate != null" >
        LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update XT_PERMISSION_SUBFIELD
    set QX_FL_ID = #{record.qxFlId,jdbcType=DECIMAL},
      FL_NAME = #{record.flName,jdbcType=VARCHAR},
      BZ = #{record.bz,jdbcType=VARCHAR},
      LAST_MODIFY_DATE = #{record.lastModifyDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sc.entity.XtPermissionSubfield" >
    update XT_PERMISSION_SUBFIELD
    <set >
      <if test="flName != null" >
        FL_NAME = #{flName,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyDate != null" >
        LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where QX_FL_ID = #{qxFlId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sc.entity.XtPermissionSubfield" >
    update XT_PERMISSION_SUBFIELD
    set FL_NAME = #{flName,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=VARCHAR},
      LAST_MODIFY_DATE = #{lastModifyDate,jdbcType=TIMESTAMP}
    where QX_FL_ID = #{qxFlId,jdbcType=DECIMAL}
  </update>
</mapper>