.page {
    width: 1000px;
    margin: 0 auto;
}

.img-welcome {
    margin: 128px auto 0 auto;
}

.form-div {
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 10px;
    border: 1px solid #aaa;
    width: 424px;
    margin: 0 auto;
    padding: 30px 0 20px 0px;
    font-size: 12px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(75, 75, 75, 0.3);
    text-align: left;
}

.form-div input[type="text"], .form-div input[type="password"], .form-div input[type="email"] {
    width: 268px;
    margin: 10px;
    line-height: 20px;
    font-size: 16px;
}

.form-div input[type="checkbox"], .form-div input[type="radio"] {
    padding: 10px 5px 10px 10px;
    vertical-align: middle;
}

.form-div input[type="button"], .form-div input[type="submit"] {
    margin: 10px 20px 0 0;
}

.form-div table {
    margin: 0 auto;
    text-align: right;
    color: rgba(64, 64, 64, 1.00);
}

.form-div table th{
    font-weight: normal;
    padding: 0 10px 0 0;
}

.form-div table img {
    vertical-align: middle;
    margin: 0 0 5px 0;
}

.footer {
    color: rgba(64, 64, 64, 1.00);
    font-size: 12px;
    margin: 30px 0;
}

.header
{
    margin: 25px 0;
}

.form-div label {
    padding: 0 10px;
    line-height: 30px;
}

.form-div .buttons {
    float: right;
}

.img-div
{
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 3px;
    border: 1px solid #aaa;
    text-align: center;
    width: 526px;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(75, 75, 75, 0.3);
}

.protocol {
    padding: 0px 20px 20px 20px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    height: 400px;
    overflow: auto;
}

.input-text {
    padding: 10px;
    border: 1px solid #D4D4D4;
    color: #333333;
    margin-top: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    border-radius: 8px;
    box-shadow: inset 0 2px 5px #eee;
    padding: 10px;
    border: 1px solid #D4D4D4;
    color: #333333;
    margin-top: 5px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    border: 1px solid #50afeb;
    outline: none;
}

input[type="button"], input[type="submit"] {
    padding: 7px 15px;
    background-color: #3c6db0;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    min-width: 80px;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px rgba(75, 75, 75, 0.3);
}

input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #5a88c8;
    /*border: 1px solid #999;*/
}

input[type="button"]:active, input[type="submit"]:active {
    background-color: #5a88c8;
    /*border: 1px solid #777;*/
}

textarea
{
    border-radius: 5px;
    box-shadow: inset 0 2px 5px #eee;
    padding: 5px;
    border: 1px solid #D4D4D4;
    color: #333333;
    margin-top: 5px;
    resize: none;

}
textarea:focus
{
    border: 1px solid #50afeb;
    outline: none;
}

/* 璇存槑鍧�*/
.source-div {
    margin: 50px 0;
    padding: 30px;
    text-align: left;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #aaa;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(75, 75, 75, 0.3);
    font-size: 12px;
}

h3 {
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: normal;
}

.option {
    width: 97%;
    margin: auto;
    text-align: left;
}

.option thead {
    border-bottom: 1px solid #ccc;
    color: #777;
    line-height: 40px;
}

.option th {
    font-weight: normal;
}

.option td {
    border-bottom: 1px dotted #eee;
    vertical-align: top;
    padding: 5px;
    line-height: 20px;
}

section p {
    line-height: 20px;
    text-indent: 2em;
}

p.code {
    text-indent: 0;
    padding-left: 3em;
    color: #555555;
    font-size: 12px;
}

p.code .keyword {
    color: cadetblue;
}

p.code .attr {
    color: cadetblue;
}

p.code .value {
    color: blue;
}

section ul {
    line-height: 20px;
    padding-left: 3em;
}

.link {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size:75px;
    line-height: 90px;
    color: #9e9ba4;
    display: inline-block;
}

.title-ani {
    text-transform: uppercase;
    font-weight: 900;
    overflow: hidden;
    line-height: 90px;
    color: #b2b0a9;
}

.title-ani:hover {
    color: #b2b0a9;
}

.title-ani::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 100%;
    top: 50%;
    margin-top: -8px;
    right: 0;
    background: #F9F9F9;
    transform: translate3d(-100%,0,0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.title-ani:hover::after {
    transform: translate3d(100%,0,0);
}

.title-ani::before {
    content: attr(data-letters);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: #777;  /*榧犳爣over鏂囧瓧棰滆壊*/
    white-space: nowrap;
    width: 0%;
    transition: width 0.4s 0.3s;
}

.title-ani:hover::before {
    width: 100%;
}

.bt{
    font-size: 12px;
    text-decoration: none;
    background-color: #777;
    border-radius: 3px;
    padding:3px 10px;
    margin:0px 5px;
    color:#fff;
}
.bt:hover
{
    background-color: #3c6db0;
}

.tooltip-demo
{
    border: 1px solid #bbb;
    border-radius: 2px;
    padding: 5px 5px;
    width:200px;
    float: left;
    margin: 0 20px;
}